<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="Data Source = SAHID\SQLEXPRESS; Initial Catalog = Rainbow_School; Integrated Security = True" name="RSCnString" providerName="System.Data.SqlClient"></add>
	</connectionStrings>
</configuration>